{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="m-auto text-xl">
        <div class="item">{{ form_errors(form) }}</div>
        <div class="item">{{ form_row(form.nom) }}</div>
        <div class="item">{{ form_row(form.prenom) }}</div>
        <div class="item">{{ form_row(form.email) }}</div>
        <div class="item">{{ form_row(form.roles, {'label': 'Rôle', 'attr': {'size': 1, 'placeholder': 'Choisir le rôle'}}) }}</div>
        <div class="item">{{ form_row(form.password) }}</div>
        <div class="item">{{ form_row(form.estActif) }}</div>
        
        {# Bouton de soumission #}
        <div class="item">
            <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
    <a href="{{ path('app_user_index') }}">Tous les utilisateurs</a>
{% endblock %}

{# {% extends 'base.html.twig' %}

{% block title %}Create User


{% endblock %}

{% block body %}
{{form_start(form)}}
<div class="m-auto text-xl">
<div class="item">{{form_errors(form)}}</div>
<div class="item">{{form_row(form.nom)}}</div>
<div class="item">{{form_row(form.prenom)}}</div>
<div class="item">{{form_row(form.email)}}</div>
<div class="item">{{form_row(form.roles, {'label': 'Rôle', 'attr': {'size': 1, 'placeholder': 'Choisir le rôle'}})}}</div>
<div class="item">{{form_row(form.password)}}</div>
<div class="item">{{form_row(form.estActif)}}</div>
</div>

{{form_rest(form)}}
		<a href="/userlist">Tous les utilisateurs</a>
{% endblock %} #}